/*GLOBAL*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Russo+One&family=Zilla+Slab+Highlight&family=VT323&display=swap');

body.dark, body.light {
    padding : 0px;
    margin : 0px;
    background-color: black;
    font-size : 18px;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

body.silly {
    padding : 1px;
    margin : 2px;
    background-color: pink;
    font-size : 25px;
    font-family: 'Rock Salt', cursive; /* For that chaotic handwritten feel */
}

article.bg {
    z-index: -100000;
    padding-top : 0vh;
    padding-bottom : 5vh;
    min-height : 20vh; /* body.height - header.height */
    overflow: hidden;
}
article.bg.dark {
    color : white;
    background-color: #333353;
}
article.bg.light {
    background-color : white;
    color: #333353;
}
article.bg.silly {
    background-image: url("imgs/fiatmultipla.jpg");
    background-attachment: fixed;
    background-size: 43% 32%;
    color: yellow;
}
article.fg {
    margin : auto;
    max-width : 100%;
}

/*NAV*/
nav {
    position : sticky;
    height : 8vh;
    font-size : 4vh;
    opacity : 1;
    z-index: 1000;
}
nav.dark, nav.light {
    box-shadow : 0vh -12vh 24vh 24vh rgba(10, 10, 10, 0.5);
}
nav.dark {
    background-color: #111121;
}
nav.light {
    background-color: #AAAAAA;
}
nav.silly {
    background-color: cyan;
}
nav ul {
    height : 100%;
    padding : 0px;
    margin : 0px;
}
nav li {
    display : inline-block;
    height : 100%;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space: nowrap;
    
}
nav li * {
    font-size : 100%;
    background-color: transparent;
    border-radius : 0px;
    border : 0px;
    width : 100%;
    height : 100%;
    cursor : pointer;
    font-weight : bold;
    transition : 0.05s;
    color : white;
}
nav li *:hover {
    color : white;
}
nav.dark li *:hover {
    background-color: #222242;
    text-shadow : #030303 4px 4px 0px;
}
nav.light li *:hover {
    background-color : #888888;
    text-shadow : #030303 2px 2px 1px;
}

/*THEME BAR*/
#theme {
    border-radius: 5px;
    position: sticky;
    z-index: 100;
    background-color: gray;
    width: 120px;
    height: 40px;
    float: right;
}
#theme .themebutton {
    width:40px;
    height:100%;
    cursor: pointer;
    display: inline-block;
}
.themebutton img {
    width : 85%;
    height: 85%;
}
.themebutton.selected {
    background-color: white;
    border-radius: 5px;
}

/*HEADER, SCROLL*/
header {
    z-index : 10;
    width : 100%;
    color : #FAFAFA;
    height : 80vh;  /* <- article.bg.minHeight */
}
#headertxt {
    position: absolute;
    z-index : inherit;
    left : 10%;
    top : 15px;  /* NOTE: MODIFIES iY OF SCROLL.JS, MEANING ONLY INITIAL TOP*/
    
    font-size: 75px;  /* -> height */
    line-height: 10px;
    text-shadow : #030303 4px 4px 0px;
    max-width : 100%;
}
.scrollParent {
    position : relative;  /* Needed for overflow: hidden */
}
.hiddenOverflow {
    overflow : hidden;
}
.scroll {
    position : relative;
}
img.scroll {
    z-index: -100;
    min-width : 100%;
    min-height : 100%;

    left : 50%;  /* Requires position:absolute */
    transform : translateX(-50%);  /* Requires position:absolute */
}


/*MISC*/
.sticky {
    position : -webkit-sticky;  /* Safari */
    position : sticky;
    top : 0;    
}
.unselectable {  /* Shamelessly stolen from https://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
img.centered {
    /* Requires position:absolute or position:relative */
    position : relative;
    left : 50%;  
    top : 50%;
    transform : translate(-50%, -50%);
}
.centered {
    text-align: center;
}

/* SCROLLBARS */
*::-webkit-scrollbar {
    width: 1em;
  }
   
  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  *::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }