#projectswrapper {
    min-height : 1000px;
}
#projectswrapper.silly {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 equal columns */
    gap: 10px; /* space between items */
}
article.fg.dark, article.fg.light {
    width : 900px;
}
article.fg.silly {
    width: 100%;
}
section {
    vertical-align: top;
    position: relative;
    width: fit-content;
    max-width: 100%;
    z-index: 20;
    height : 300px;
    margin-top: 60px;
    transition: 0.8s;
    opacity: 1;
    box-shadow: black 1px 1px 5px;
}
section.silly {
    border-radius: 10%;
    box-shadow: black -25px 30px 0px;
    border: 5px dotted brown;
    background-color: blue;
    color: red;
}
section.silly:hover {
    width: 70%;
    height: 400px;
}
section.dark, section.light {
    background-color: #EEEEEE;
    color : black;
}

section .half {
    vertical-align: top;
    
    height : 100%;

    display : inline-block;
    /*overflow: hidden;*/
    position: relative;
    z-index: 10;
}
.content {
    max-width: 40%;
    float : left;
}
.flexy {
    height : 100%;
    display : flex;
    flex-direction: column;
}
.content .txt {
    position: relative;
    width: 100%;
    align-self: flex-start;
    flex-grow: 1;
}
section .content .linkswrapper {
    position: relative;
    width : 100%;
    align-self: flex-end;
}
section .content .linkswrapper ul {
    width : 100%;

    position : relative;
    /*align-self : flex-end;*/
    list-style-type : none;
    padding : 0px;
    margin : 0px;
}
.linkswrapper.dark, .linkswrapper.light {
    background-color: #EEEEEE;  /*inherit does not work*/
}
.linkswrapper.silly {
    background-color: blue;
}

.linkswrapper ul li {
    display: inline-block;
    padding : 5px;
}
.tooltip {
    cursor : pointer;
}
.tooltip img {
    opacity: 0.6;
    max-width : 50px;
    max-height : 50px;
    filter: grayscale(100%);
}
.tooltip:hover img {
    opacity: 1;
    filter: grayscale(0%);
    /*
    max-width : 64px;
    max-height : 64px;
    */
}
section h1 {
    margin : 4px 4px 6px 4px;
    font-size : 36px;
}
section h2 {
    margin : 4px 4px 6px 4px;
    font-size : 30px;
}
section p {
    margin : 4px;
    font-size : 16px;
}
.title {
    max-width : 100%;
    max-height : 75px;
    overflow: hidden;
    white-space :nowrap;
    text-overflow: ellipsis;
}
.desc {
    max-height : 175px;
    overflow-y: auto;
    overflow-x: hidden;
}
section .imgwrapper {
    float : left;
    overflow: hidden;
    width : 60%;
}
section .imgwrapper img, section .imgwrapper video {
    width : 100%;
    min-width : 100%;
    min-height : 100%;
    max-width : 150%;
    max-height : 150%;
}

.tooltiptext {
    display : block;
    border-radius: 0px 0px 10px 10px;
    background-color: #111141;
    padding : 5px;
    font-size : 20px;
    color : #CCCCCC;
    position: absolute;
    bottom : 10px;
    z-index: -10000;
    overflow : hidden;
    white-space : nowrap;
    opacity: 0;
}

.tooltip img, .tooltiptext {
    transition :cubic-bezier(0, 1, 0.5, 1);
    transition-duration: 0.4s;
    
}
.tooltip:hover + .tooltiptext {
    display : block;
    bottom : -38px;
    opacity: 1;
}
.labels {

}
.label {
    display : inline-block;
    border-radius: 10px;
    padding : 2px 12px 2px 12px;
    margin-left : 5px;
    font-size: 14px;
    cursor: pointer;
}
.label:hover {
    text-decoration: underline;
}
.sillyshit {
    background-color: brown;
}


/* Search bar */
#foundprojects {
    font-size : 35px;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    font-size: 20px;
    background-color: #141421;
    color : #FEFEFE;
    margin-right: 10px;
}
.searchlabel {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.searchlabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 43px;
    width: 43px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.searchlabel:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.searchlabel input:checked~.checkmark {
    background-color: #24a44a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.searchlabel input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.searchlabel .checkmark:after {
    left: 16px;
    top: 8px;
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pad {

    height: 43px;
    padding : 10px;
    padding-left: 20px;
    /*background-color: red;*/
}

/*Search help*/
#searchhelpwrapper {
    position: relative;
}
#searchhelp {
    
    position: relative;
    display: block;
    cursor:pointer;
    text-decoration: underline;
    padding: 8px;
    width: 200px;
    position: relative;
        left: 50%;
        transform: translateX(-50%);
}
#searchhelptxt {
    
    background-color: #FEFEFE;
    color : black;
    border-radius: 1px;
    box-shadow: black 1px 1px 3px;
    padding : 25px;
    position: absolute;
    display: none;
    z-index: 100000;
    width: 500px;
    margin:auto;
    left:0;
    right: 0;
    top: 80px;
    font-size: 14px;
    
}