header {
    background-color: #2c9534;
    width : 100%;
    color : #FAFAFA;
    height : 80vh;  /* <- article.bg.minHeight */
}
#headertxt {
    line-height: 0px;
    z-index : 10;
    left : 15vw;
    top : 15px;  /* NOTE: MODIFIES iY OF SCROLL.JS, MEANING ONLY INITIAL TOP*/
    
    font-size: 100px;  /* -> height */
    text-shadow : #030303 4px 4px 0px;
    max-width : 100%;
}


.scrollParent {
    position : relative;  /* Needed for overflow: hidden */
    overflow : hidden;
}
.scroll {
    position : absolute;
}
img.scroll {
    min-width : 100%;
    min-height : 100%;

    left : 50%;  /* Requires position:absolute */
    transform : translateX(-50%);  /* Requires position:absolute */
}
iframe.webpage {
    width : 90%;
    height : 50vh;
}

