.masked-image {
    background-image: url("./kurrahty.jpg");
  
    /* Move the image */
    background-position: right center; /* or left, right, 20px 10px, etc. */
    background-repeat: no-repeat;
    background-size: contain;
  
    /* Apply the mask */
    mask-image: url("./mask.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  
    -webkit-mask-image: url("./mask.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
  }
  